.tab {
  overflow: hidden;
  border: 1px solid #7cb4ee;
  background-color: #ffffff;
}

body {
  margin: 0px;
}

h1 {
  margin: 0px;
  padding-left: 8px;
  padding-bottom: 20px;
  padding-top: 20px;
}

h3 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 8px;
  padding-bottom: 20px;
}
/* Style the buttons inside the tab */
.nav-item button {
  background-color: hsl(211, 96%, 81%) ;
  float: left;

  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  display: block;
  padding: .5em;
  border: 0;
  float: right;
}

.btn-edit {
  position: relative;
  z-index: 2;
  display: block;
  padding: .5em;
  border: 0;
  float: right;
}

.btn-bar {
  margin-left: auto;
  margin-right: 0;
}

.highlight {
  position: relative;
  background-color: var(--bd-pre-bg);
}

.highlight-toolbar {
  background-color: var(--bd-pre-bg);
}

.key-param {
  margin-bottom: 1rem;
  border: solid var(--bs-border-color);
  width: 800px;
  border-radius: var(--bs-border-radius);
  border-width: 1px;
}

#titleBar {
  background-color: #ffffff;
}

#keyInputArea {
  background-color: #ffffff;
  padding-left: 8px;
  width: 22em;
}

#reportDiv {
  background-color: #ffffff;
  padding-left: 8px;
}

.pqmod {
  background-color: #ffffff;
  color: #000;
  -webkit-text-fill-color: #000;
  padding-left: 8px;
}

#encryptionHeading {
  background-color: #ffffff;
  padding-left: 8px;
}
#keyArea {
  background-color: #ffffff;
  padding-left: 8px;
}

.privpubKey {
  background-color: #ffffff;
  color: #000;
  -webkit-text-fill-color: #000;
  padding-left: 8px;
}

#textInArea {
  background-color: #ffffff;
  padding-left: 8px;
}

.privpubInput {
  background-color: #ffffff;
  color: #000;
  -webkit-text-fill-color: #000;
  padding-left: 8px;
}

#cipherTextOutArea {
  background-color: #ffffff;
  padding-left: 8px;
}

.results {
  background-color: #ffffff;
  color: #000;
  -webkit-text-fill-color: #000;
  padding-left: 8px;
}

.key-param-group {
  margin-bottom: 12px;
}

.key-param-value textarea {
  width: 100%;
}
/* top bar settings */
header {
  background-color: #9bccff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* tab settings */
.nav-item {
  background-color: #9bccff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.nav-item:hover {
  background-color:#b7daff
}
button.nav-link.active{
  background-color: #b7daff !important;
  
}
